<html>
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title>Remote Control Robot</title>
  </head>
  <body>
    <video width="640" height="480" autoplay>
      <source src="/video.mp4" type="video/mp4">
    </video>
    <div id="help"><p>Use arrow keys, and spacebar to stop</p></div>
    <div id="commands"></div>
  </body>
  <script type="text/javascript">
    var doc = document.getElementById("commands");
    var keys = {
      32: 'space',
      37: 'left',
      38: 'up',
      39: 'right',
      40: 'down'
    }
    var keysDown = {
      left: 'up',
      right: 'up',
      up: 'up',
      down: 'up',
      space: 'up'
    };
    var writeKeyStatus = function() {
      doc.innerHTML = "<p>" + JSON.stringify(keysDown) + "</p>";
    };
    var handleKey = function(keyStatus) {
      return function(event) {
        var key = keys[event.keyCode];
        if (key !== undefined) {
          keysDown[key] = keyStatus;
          writeKeyStatus();
        }
      }
    };

    // Bind functions, and initialize.
    document.onkeyup = handleKey('up');
    document.onkeydown = handleKey('down');
    writeKeyStatus();
  </script>
</html>
